.AppTitle {
    position: block;
    top: 0;
    left: 0;
    right: 0;
    user-select: none;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 35px;

    background-color: #252526;
    border-bottom: solid 1px #3e3e42;
    z-index: 998;
}

.Left {
    display: flex;
    width: 50vw;
    justify-content: flex-start;
    background-color: inherit;
    align-items: center;
}

.Right {
    display: flex;
    width: 50vw;
    justify-content: flex-end;
    background-color: inherit;
    align-items: center;
}

.AppTitleMaximized {
    margin-top: -1px;
}

.Icon {
    height: 35px;
    width: 45px;
    padding: 10px 0;
    color: '#cccccc';
    z-index: 1000;
    margin-bottom: 1px;
}

.Icon:hover {
    background-color: #3e3e42;
}

.Icon.Quit:hover {
    background-color: #b82222;
    color: white;
}

.HomeButton {
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    color: #cccccc;
    transition: background-color 0.1s;
    -webkit-app-region: no-drag;
}

.HomeButton:hover {
    background-color: #3e3e42;
    color: white;
}

.IconLabel {
    font-size: 16px;
}